name: 'Release'

on:
  release:
    types:
      - 'published'

permissions: {}

jobs:
  release:
    name: 'Release'
    runs-on: 'ubuntu-latest'
    permissions:
      contents: write
    steps:
      - name: 'Checkout the repository'
        uses: 'actions/checkout@v4.1.0'

      - name: 'Adjust version number'
        shell: 'bash'
        run: |
          yq -i -o json '.version="${{ github.event.release.tag_name }}"' \
            "${{ github.workspace }}/custom_components/satchel_one/manifest.json"

      - name: 'ZIP the integration directory'
        shell: 'bash'
        run: |
          cd "${{ github.workspace }}/custom_components/satchel_one"
          zip satchel_one.zip -r ./

      - name: 'Upload the ZIP file to the release'
        uses: softprops/action-gh-release@v2.0.4
        with:
          files: ${{ github.workspace }}/custom_components/satchel_one/satchel_one.zip
